}

h1, h2 {
    margin-bottom: 10px;
}

img {
    width: 100%;
    max-width: 900px; /* Adjust the maximum width of the cover image as needed */
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #007bff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
}

/* Existing CSS styles remain the same */

.feature {
    text-align: center;
    margin-bottom: 30px;
}

.feature img {
    max-width: 100%;
}

.feature h3 {
    margin-top: 10px;
}

.feature p {
    color: #777;
}

/* styles.css */

/* Video section styles */
#video {
    text-align: center;
    margin-top: 50px; /* Adjust the top margin as needed */
}

#video h2 {
    margin-bottom: 20px;
}

video {
    width: 200%; /* Adjust the width of the video container */
    max-width: 800px; /* Adjust the maximum width of the video as needed */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Add any additional styles for the video section here */
